<div class="container-fluid">
     <div class="row mt-5">
        <div class="col">
            <div class="col-4">
                <div class="card shadow" >
                    <div class="card-body">                        
                        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                            <div class="mb-3">
                                <h4 class="text-dark text-muted">Login</h4>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" formControlName="email">
                            </div>
                            <div class="mb-3">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name = "password" formControlName="password">
                            </div>                    
                            <button class="btn btn-info" type="submit" [disabled]="loginForm.invalid">Submit</button>
                            <div class="row">
                                <div class="col-md-6">
                                    <a style="text-decoration: none;" href="">Need Account? <span class="text-danger">Register</span></a>
                                </div>
                                <div class="col-md-6">
                                    <a class="text-dark" style="text-decoration: none;" href="">Forgot password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
